<script>
  // External libraries imports
  import { format, parseISO, isSameMonth } from "date-fns";
  import { fr } from "date-fns/locale";
  // Custom stores imports
  import { timelineStore } from "../timeline/timelineStore";
  // UI Imports
  import {
    Card,
    CardText,
    Icon,
    CardTitle,
    CardSubtitle,
    CardActions,
    Button,
    Chip,
    Row,
    Col,
    ListItem,
  } from "svelte-materialify";
  import {
    mdiChevronDown,
    mdiPlus,
    mdiEyeOutline,
    mdiEyeOffOutline,
  } from "@mdi/js";
  // Svelte Components imports
  import Etoile from "../Etoile.svelte";
  // Transition imports
  import { slide, fade } from "svelte/transition";

  export let visit;
  $: {
    console.log(visit);
  }
  let active = false;
  function toggle() {
    active = !active;
  }
  let eventToggle = false;
  let eventIndex = 0;
  function toggleEvent(i) {
    eventToggle = !eventToggle;
    eventIndex = i;
  }
</script>

<Card tile>
  <div class="visit-header" style="background-color:{visit.data.color}">
    {#if visit.featuredImage}
      <img
        alt=""
        style="background-image: url({visit.featuredImage.node.sourceUrl})"
      />
    {/if}
  </div>
  {#if !eventToggle}
    <div transition:slide>
      <!-- content here -->
      <CardTitle>
        <Row style="justify-content: center;">
          <Icon>
            <Etoile />
          </Icon>
          <h5>
            {visit.title}
          </h5>
          <Icon>
            <Etoile />
          </Icon>
        </Row>
      </CardTitle>
      <CardSubtitle>
      <p style="text-align: center">
        {#if visit.data.isEndDate == "true"}
          Du
          {format(parseISO(visit.data.startDate), "d LLL y", { locale: fr })}
          au
          {format(parseISO(visit.data.endDate), "d LLL y", { locale: fr })}
        {:else}
          Depuis le
          {format(parseISO(visit.data.startDate), "d LLL y", { locale: fr })}
        {/if}
      </p>
      </CardSubtitle>
      <Row>
        <Col style="text-align: center">
          <CardText>
            {#if visit.data.place}
              <h6>
                {visit.data.place.name}
              </h6>
            {/if}
          </CardText>
          {#if visit.data.activity.length != 0}
            {#each visit.data.activity as activity}
              <Chip outlined class="ma-2 primary-text" size="x-small">
                {activity.name}
              </Chip>
            {/each}
          {/if}
        </Col>
      </Row>
      {#if visit.data.events}
        {#each visit.data.events as event, i}
          {#if isSameMonth(parseISO(event.data.date), $timelineStore.date)}
            <!-- content here -->
            <ListItem>
              {event.title}
              <span slot="append">
                <Button
                  fab
                  depressed
                  size="x-small"
                  on:click={() => toggleEvent(i)}
                >
                  <Icon path={mdiEyeOutline} />
                </Button>
              </span>
              <span slot="subtitle">
                {format(parseISO(event.data.date), "d LLL y à h:mm", {
                  locale: fr,
                })}
              </span>
            </ListItem>
          {/if}
        {/each}
      {/if}
      <CardActions size="small">
        <Button block tile depressed size="small" on:click={toggle}>
          <Icon path={mdiChevronDown} rotate={active ? 180 : 0} />
        </Button>
      </CardActions>
      {#if active}
        <div transition:slide>
          <CardText>
            <p>{visit.data.excerpt}</p>
          </CardText>
          <CardActions style="justify-content: center;">
            <Button fab depressed size="small">
              <a href="/#{visit.uri}">
                <Icon path={mdiPlus} />
              </a>
            </Button>
          </CardActions>
        </div>
      {/if}
    </div>
  {:else}
    <div transition:slide>
      <!-- else content here -->
      {#if visit.data.events}
        <CardTitle>
          <Row style="justify-content: center;">
            <Icon>
              <Etoile />
            </Icon>
            <h5>
              {visit.data.events[eventIndex].title}
            </h5>
            <Icon>
              <Etoile />
            </Icon>
          </Row>
        </CardTitle>
        <p style="text-align: center">
          Le {format(
            parseISO(visit.data.events[eventIndex].data.date),
            "d LLL y à h:mm",
            { locale: fr }
          )}
        </p>
        <CardText style="text-align: center">
          {#if visit.data.events[eventIndex].data.jauge}
            Jauge : {visit.data.events[eventIndex].data.jauge} personnes
          {/if}
        </CardText>
        <Row>
          <Col style="text-align: center">
            <CardText>
              {#if visit.data.events[eventIndex].data.place}
                <h6>
                  {visit.data.events[eventIndex].data.place.name}
                </h6>
              {/if}
            </CardText>
          </Col>
        </Row>
        <CardText>
          {#if visit.data.events[eventIndex].data.longDescription}
            {@html visit.data.events[eventIndex].data.longDescription}
          {/if}
        </CardText>
        <CardActions style="justify-content: center;">
          <Button
            fab
            depressed
            size="x-small"
            on:click={() => toggleEvent(eventIndex)}
          >
            <Icon path={mdiEyeOffOutline} />
          </Button>
        </CardActions>
      {/if}
    </div>
  {/if}
</Card>

<style>
  .visit-header {
    width: 100%;
    height: 50px;
    color: #000;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }
  .visit-header:not(img) {
    z-index: 1;
  }
  h5,
  p {
    margin-bottom: 0;
    position: relative;
  }
  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(1px) grayscale();
    mix-blend-mode: luminosity;
    opacity: 0.4;
  }
</style>
