<script>
    import AgendaCard from "./AgendaCard.svelte";
    import { queryStore, filteredData } from "../queryStore";
    import { Card, CardText } from "svelte-materialify"
    import Loading from "../Loading.svelte"
    import { fade } from "svelte/transition";
</script>

{#if $queryStore.isFetching}
<Loading />
{:else if $queryStore.error}
    <p>Oh no... {$queryStore.error.message}</p>
{:else if $filteredData.length != 0}
    {#each $filteredData as visit}
        <div class="visit" transition:fade>
            <AgendaCard {visit} />
        </div>
    {/each}
{:else}
    <Card>
        <CardText>Il n'y a pas de séjours à la date sélectionnée</CardText>
    </Card>
{/if}

<style>
    .visit {
        width: 100%;
        max-width: 400px;
        padding: 5px;
    }
</style>
