<script>
  import Heading from "./Heading.svelte";
  import Paragraph from "./Paragraph.svelte";
  import Image from "./Image.svelte";
  import Separator from "./Separator.svelte"
  import Spacer from "./Spacer.svelte"
  import Columns from "./Columns.svelte";
  import PDF from "./PDF.svelte";
  export let blocks;
</script>

<div class="page-content">
  {#if blocks.length != 0}
    {#each blocks as block}
      {#if block.__typename == "CoreHeadingBlock"}
        <Heading {...block.attributes} />
      {:else if block.__typename == "CoreParagraphBlock"}
        <Paragraph {...block.attributes} />
      {:else if block.__typename == "CoreImageBlock"}
        <Image {...block.attributes} />
      {:else if block.__typename == "CoreColumnsBlock"}
        <Columns columns={block.innerBlocks} />
      {:else if block.__typename == "CoreSeparatorBlock"}
        <Separator {...block.attributes} />
        {:else if block.__typename == "CoreSpacerBlock"}
        <Spacer {...block.attributes} />
      {:else if block.__typename == "PdfembPdfEmbedderViewerBlock"}
        <PDF pdf={block.attributes.url} />
      {/if}
    {/each}
  {:else}
    <p>Etrange... La conciergerie n'a encore rien mis sur cette page...</p>
  {/if}
</div>

<style>
  .page-content {
    height: 80%;
    overflow-y: auto;
  }
  :global(.page-content > h3) {
    padding-bottom: 1rem;
  }
</style>
