<script>
  import Column from "./Column.svelte";
  export let columns;
  let defaultWidth;
  switch (columns.length) {
    case 1:
      defaultWidth = "100%";
      break;
    case 2:
      defaultWidth = "50%";
      break;
    case 3:
      defaultWidth = "33.3%";
      break;
    case 4:
      defaultWidth = "25%";
      break;
    default:
      break;
  }
</script>

<div>
  {#each columns as column, index}
    <Column {...column} {defaultWidth} {index}/>
  {/each}
</div>

<style>
  div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: 800px) {
    div {
      flex-wrap: nowrap;
    }
  }
</style>
