<script>
  import Heading from "./Heading.svelte";
  import Image from "./Image.svelte";
  import Paragraph from "./Paragraph.svelte";
  export let defaultWidth, innerBlocks, attributes, index;
</script>

<div
  style="width:{attributes.width == "" ? defaultWidth : attributes.width}"
  class:alignTop={attributes.verticalAlignment == "top"}
  class:alignBottom={attributes.verticalAlignment == "bottom"}
>
<section>
    {#if innerBlocks.length != 0}
    {#each innerBlocks as block}
      {#if block.__typename == "CoreHeadingBlock"}
        <Heading {...block.attributes} />
      {:else if block.__typename == "CoreParagraphBlock"}
        <Paragraph {...block.attributes} />
      {:else if block.__typename == "CoreImageBlock"}
        <Image {...block.attributes} />
      {/if}
    {/each}
  {:else}
    <p>Le type de bloc n'est pas reconnu</p>
  {/if}
</section>

</div>

<style>
  div {
    align-self: center;
  }
  @media (max-width: 800px) {
    div {
      width: 100% !important;
    }
  }
  section {
      width: 95%;
  }
  .alignTop {
    align-self: flex-start;
  }
  .alignBottom {
    align-self: flex-end;
  }
</style>
