<script>
  import Lazy from "svelte-materialify/src/components/Lazy";
  import { fade } from "svelte/transition";
  export let url, alt, width, title, align, caption;
  let alignSelf;
  switch (align) {
    case "left":
      alignSelf = "flex-start";
      break;
    case "center":
      alignSelf = "center";
      break;
    case "right":
      alignSelf = "flex-end";
      break;
    default:
      alignSelf = "flex-start";
      break;
  }
</script>

<Lazy>
  <div
    style="width:{width == 0 ? '100%' : `${width}px`}; max-width: 100%;"
    class:center={align == "center"}
    class:float-left={align == "left"}
    class:float-right={align == "right"}
  >
    <img src={url} {alt} transition:fade />
    {#if caption != ""}
      <p>{caption}</p>
    {/if}
  </div>
</Lazy>

<style>
  img {
    width: inherit;
    max-width: inherit;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  p {
    font-size: 0.8rem;
  }
</style>
