<script>
  // import * as pdfjs from 'pdfjs-dist';

  import pdfjs from "@bundled-es-modules/pdfjs-dist/build/pdf";
  import { createEventDispatcher } from "svelte";
  import { mdiArrowLeft, mdiArrowRight } from "@mdi/js";
  import { Button, Icon } from "svelte-materialify";
  import { fade } from "svelte/transition";
  const dispatch = createEventDispatcher();
  pdfjs.GlobalWorkerOptions.workerSrc =
    "https://cdn.jsdelivr.net/npm/pdfjs-dist@2.2.228/build/pdf.worker.min.js";
  export let pdf;
  // checks "overall", "controls" and "container"
  export let classes = {};
  export let options = {};
  export let currentPage = 1;
  export let pageNumberText = (currentPage, maximumPages) =>
    currentPage + "/" + maximumPages;
  const defaultOptions = {
    // paged, all
    display: "paged",
    // dark, light
    theme: "dark",
    scale: 10,
    pdfjs: { scale: 10 },
  };
  $: opts = { ...defaultOptions, ...options };
  let pageContainer = null;
  let doc = null;
  let numPages = 0;
  let pages = [];
  $: render(pdf);
  async function render(pdf) {
    doc = null;
    pages = null;
    if (!pdf) return;
    doc = await pdfjs.getDocument(pdf).promise;
    numPages = doc.numPages;
    // Load every page asynchronously
    pages = (
      await Promise.all(
        Array.from(Array(numPages).keys(), (pageNum) =>
          doc.getPage(pageNum + 1)
        )
      )
    ).map((page) => {
      const canvas = document.createElement("canvas");
      canvas.classList = getComponentClass();
      let viewport = page.getViewport({ scale: 2 });
      canvas.height = viewport.height;
      canvas.width = viewport.width;
      const context = canvas.getContext("2d");
      page.render({
        canvasContext: context,
        viewport: viewport,
      });
      return canvas;
    });
    dispatch("ready");
  }
  $: {
    if (!pageContainer || !pages) break $;
    pageContainer.innerHTML = "";
    if (opts.display == "paged") {
      let page = pages[currentPage - 1];
      pageContainer.append(page);
    } else {
      currentPage = 1;
      pages.forEach((page) => pageContainer.append(page));
    }
  }
  function navigateLeft() {
    currentPage = Math.max(currentPage - 1, 1);
  }
  function navigateRight() {
    currentPage = Math.min(currentPage + 1, numPages);
  }
  function getPageText(currentPage, numPages) {
    return pageNumberText(currentPage, numPages);
  }
  function getComponentClass() {
    return Array.from(pageContainer.classList).filter((c) =>
      c.startsWith("svelte")
    )[0];
  }
  function generateClasses() {
    return Array.from(arguments)
      .filter((a) => a)
      .join(" ");
  }
</script>

{#if doc != null}
  <!-- We wait for the document to be download to transition the viewer -->
  <div
    class={generateClasses(
      "pdf-svelte",
      "theme-" + opts.theme,
      "display-" + opts.display,
      classes.overall
    )}
    transition:fade
  >
    <slot>
      <div class={generateClasses("controls", classes.controls)}>
        <Button fab on:click={navigateLeft}><Icon path={mdiArrowLeft} /></Button
        >
        {getPageText(currentPage, numPages)}
        <Button fab on:click={navigateRight}
          ><Icon path={mdiArrowRight} /></Button
        >
      </div>
    </slot>
    <div
      bind:this={pageContainer}
      class={generateClasses("viewer", classes.container)}
    >
      <canvas />
    </div>
  </div>
{/if}

<style>
  .pdf-svelte {
    width: 100%;
  }
  canvas {
    width: 100%;
    display: block;
    margin: 0.4rem auto 0.6rem;
  }
  .theme-dark {
    background: #eee;
  }
  .viewer {
    position: relative;
    z-index: 1;
    overflow-y: scroll;
    height: 90%;
  }
  .controls {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    z-index: 2;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .controls button {
  }
  .display-all .controls {
    display: none;
  }
</style>
