<script>
  import Etoile from "../Etoile.svelte";
</script>

<hr style="width: 80%" />

<style>
  hr {
    border: none;
    border-top: 1px dotted #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 50px auto 50px auto;
  }

  hr:after {
    background: #fff;
    content: "";
    padding: 15px;
    background-position: center;
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-image:  url(/assets/etoile.svg);
    transform: translate(0, -15px);
  }
</style>
