<script>
  import HistoryCard from "../components/HistoryCard.svelte";
  import { format, parseISO } from "date-fns";
  import { fr } from "date-fns/locale";
  import { operationStore, query } from "@urql/svelte";
  import Loading from "../components/Loading.svelte";
  import { fade } from "svelte/transition";
  import Etoile from "../components/Etoile.svelte"
  let historyQuery = operationStore(`
        query {
            histories {
                nodes {
                    title
                    data {
                        endDate
                        fieldGroupName
                        format
                        isEndDate
                        startDate
                        text
                    }
                    featuredImage {
                        node {
                        altText
                        sourceUrl(size: MEDIUM_LARGE)
                        }
                    }
                }
            }
        }`);
  query(historyQuery);
</script>

<header>
  <h3 id="page-title">Pasteur une histoire d'enseignement</h3>
</header>

<section>
  {#if $historyQuery.fetching}
    <Loading />
  {:else if $historyQuery.error}
    ZUT :/
  {:else}
    {#each $historyQuery.data.histories.nodes as history, index}
      <div class="article-wrapper" transition:fade>
        <div
          class="line"
          class:line-last-child={index ==
            $historyQuery.data.histories.nodes.length - 1}
        />
        <div class="point" ><Etoile/></div>
        <h6 class="date font-pasteur">
          {format(parseISO(history.data.startDate), history.data.format, {
            locale: fr,
          })}
          {#if history.data.isEndDate == "true"}
            –
            {format(parseISO(history.data.endDate), history.data.format, {
              locale: fr,
            })}
          {/if}
        </h6>

        <div class="card-wrapper">
          <HistoryCard {history} {index} />
        </div>
      </div>
    {:else}
      <p>Il n'y a pas encore d'entrées du type Histoire !</p>
    {/each}
  {/if}
</section>

<style>
  header {
    margin-top: 10%;
    height: 15%;
    margin-bottom: 5%;
  }
  #page-title {
    text-align: center;
    text-transform: uppercase;
  }
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
  }
  .line {
    position: absolute;
    background-color: #ccc;
    height: 100%;
    width: 0.8px;
    margin: auto;
    top: 0;
    left: 0;
    transform: translate(-50%, 0.6rem);
  }
  .line-last-child {
    height: 20%;
    background-color: #ccc;
    background: linear-gradient(180deg, #ccc 0%, rgba(204, 204, 204, 0) 100%);
  }
  .point {
    position: absolute;
    
    border-radius: 50%;
    transform: translate(-50%, 0);
  }
  .date {
    transform: translate(0, 0);
    margin-left: 25px;
    color: #555;
    margin-bottom: 5vh;
    font-size: 1.5rem;
  }
  .article-wrapper {
    position: relative;
    margin: auto;
    width: 95%;
    max-width: 800px;
    scroll-snap-align: start;
  }
  .card-wrapper {
    width: 80%;
    margin: 0 auto 0 25px;
    padding-bottom: 50px;
  }
</style>
