<script>
  import {  query } from "@urql/svelte";
  import { Card, CardTitle } from "svelte-materialify";
  import { fade } from "svelte/transition";
  import Loading from "../components/Loading.svelte";
  
  import {blocksQuery} from "../components/gutenberg/query"
  import Blocks from "../components/gutenberg/Blocks.svelte"

  export let params = {};

  let id;
  let pageQuery;
  // We create a visitData variable to shorten the $pageQuery.data.page.data json key
  let page;
  $: {
    if (params && params.path) {
      id = params.path;
      pageQuery = blocksQuery(id);
      //console.log(pageQuery);
      query(pageQuery);
    }
    if (!$pageQuery.fetching) {
      if ($pageQuery.data != undefined) {
        page = $pageQuery.data.page;
      }
    }
    //console.log("$pageQuery ", $pageQuery);
  }
</script>

{#if $pageQuery.fetching}
  <Loading />
{:else if $pageQuery.error}
  <p>Il y a eu une erreur :/</p>
{:else if page != undefined}
  <article>
    <Card flat>
      <header>
        {#if page.featuredImage}
          <div
            id="header-image"
            style="background-image: url({page.featuredImage.node.sourceUrl})"
          />
        {/if}
        <CardTitle>
          <h4>{page.title}</h4>
        </CardTitle>
      </header>
      <Blocks blocks={page.blocks}/>
    </Card>
  </article>
{/if}

<style>
  article {
    height: 90%;
    width: 100%;
    margin: auto;
  }
  @media screen and (max-width: 800px) {
    article {
      width: 95%;
    }
  }
  header {
    margin: auto;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header-image {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  @media (max-width: 800px) {
    header h4 {
      width: 100%;
    }
    article {
      width: 95%;
    }
  }
</style>
