<script>
    import { operationStore, query } from "@urql/svelte";
    import { Card, CardTitle } from "svelte-materialify";
    import { fade } from "svelte/transition";
    import Loading from "../components/Loading.svelte";
    export let params = {};

    let id;

    let pageQuery;
    // We create a visitData variable to shorten the $pageQuery.data.page.data json key
    let page;
    $: {
        if (params && params.path) {
            ////console.log("params.path ", params.path);
            id = params.path;
            pageQuery = operationStore(
                `query ($id: ID!) {
                    page(idType: URI, id: $id) {
                        title
                        blocks {
                            ... on CoreParagraphBlock {
                                originalContent
                            }
                            ... on CoreImageBlock {
                                    dynamicContent
                                    attributes {
                                        ... on CoreImageBlockAttributes {
                                            url
                                    }
                                }
                            }
                            ... on CoreHeadingBlock {
                                originalContent
                            }
                        }
                    }
                }`,
                { id }
            );
            query(pageQuery).context;
        }
        if (!$pageQuery.fetching) {
            if ($pageQuery.data != undefined) {
                page = $pageQuery.data.page;
                ////console.log(page);
            }
        }
        //console.log($pageQuery);
    }
</script>

{#if $pageQuery.fetching}
    <Loading />
{:else if $pageQuery.error}
    <p>Il y a eu une erreur :/</p>
{:else if page != undefined}
    <article>
        <Card flat>
            <header>
                {#if page.featuredImage}
                    <div
                        id="header-image"
                        style="background-image: url({page.featuredImage.node
                            .sourceUrl})"
                    />
                {/if}
                <CardTitle>
                    <h4>{page.title}</h4>
                </CardTitle>
            </header>
            <div class="page-content">
                {#if page.blocks.length != 0}
                    {#each page.blocks as block}
                        {#if block.__typename == "CoreHeadingBlock"}
                            {@html block.originalContent}
                        {:else if block.__typename == "CoreParagraphBlock"}
                            {@html block.originalContent}
                        {:else if block.__typename == "CoreImageBlock"}
                            <img
                                src={block.attributes.url}
                                alt={block.attributes.alt}
                                transition:fade
                            />
                        {/if}
                    {/each}
                {:else}
                    <p>Etrange... La conciergerie n'a encore rien mis sur cette page...</p>
                {/if}
            </div>
        </Card>
    </article>
{/if}

<style>
    article {
        height: 90%;
        width: 80%;
        margin: auto;
    }
    header {
        margin: auto;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #header-image {
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
    }
    .page-content {
        height: 80%;
        overflow-y: auto;
    }
    :global(.page-content > h3) {
        padding-bottom: 1rem;
    }
    img {
        max-width: 100%;
    }
    @media (max-width: 800px) {
        header h4 {
            width: 100%;
        }
        article {
            width: 95%;
        }
    }
</style>
