<script>
  // External libraries imports
  import { format, parseISO } from "date-fns";
  import fr from "date-fns/locale/fr";
  import { operationStore, query } from "@urql/svelte";
  // UI Imports
  import { Card, CardTitle, CardSubtitle, Chip } from "svelte-materialify";
  import Lazy from "svelte-materialify/src/components/Lazy";
  // Svelte's components imports
  import Loading from "../components/Loading.svelte";
  import { fade } from "svelte/transition";

  export let params = {};

  // We create a visit variable to shorten the $visitQuery.data.visit.data json key
  let id, visitQuery, visit;
  $: {
    if (params && params.id) {
      id = params.id;
      visitQuery = operationStore(
        `query ($id: ID!) {
                    visit(idType: URI, id: $id) {
                        title
                        featuredImage {
                            node {
                                altText
                                sourceUrl
                            }
                        }
                        data {
                            isEndDate
                            endDate
                            startDate
                            activity {
                                name
                            }
                            color
                            place {
                                name
                            }
                        }
                        blocks {
                            ... on CoreImageBlock {
                                attributes {
                                ... on CoreImageBlockAttributes {
                                    url
                                    alt
                                }
                                }
                            }
                            ... on CoreParagraphBlock {
                                originalContent
                            }
                            ... on CoreHeadingBlock {
                                originalContent
                            }
                        }
                    }
                }`,
        { id }
      );
      query(visitQuery);
    }
    if (!$visitQuery.fetching) {
      if ($visitQuery.data != undefined) {
        visit = $visitQuery.data.visit;
      }
    }
  }
</script>

{#if $visitQuery.fetching}
  <Loading />
{:else if $visitQuery.error}
  <p>Il y a eu une erreur :/</p>
{:else if visit != undefined}
  <article>
    <Card flat>
      <header>
        {#if visit.featuredImage}
          <div
            id="header-image"
            style="background-image: url({visit.featuredImage.node.sourceUrl})"
            transition:fade
          />
        {/if}
        <CardTitle>
          <h4>{visit.title}</h4>
        </CardTitle>
        <CardSubtitle>
          <h5>
            {#if visit.data.isEndDate == "true"}
              Du {format(parseISO(visit.data.startDate), "d LLL. y", {
                locale: fr,
              })} au
              {format(parseISO(visit.data.endDate), "d LLL. y", { locale: fr })}
            {:else}
              Depuis le {format(parseISO(visit.data.startDate), "d LLL. y", {
                locale: fr,
              })}
            {/if}
          </h5>
        </CardSubtitle>
        <CardSubtitle>
          {#if visit.data.place}
            <h6 style="font-family: Pasteur">
              {visit.data.place.name}
            </h6>
          {/if}
        </CardSubtitle>
        <CardSubtitle style="display: flex">
          {#if visit.data.activity.length != 0}
            {#each visit.data.activity as activity}
              <Chip outlined label class="ma-2 primary-text" size="small">
                {activity.name}
              </Chip>
            {/each}
          {/if}
        </CardSubtitle>
      </header>
      <div class="visit-content">
        {#if visit.blocks.length != 0}
          {#each visit.blocks as block}
            {#if block.__typename == "CoreHeadingBlock"}
              {@html block.originalContent}
            {:else if block.__typename == "CoreParagraphBlock"}
              {@html block.originalContent}
            {:else if block.__typename == "CoreImageBlock"}
              <Lazy>
                <img
                  src={block.attributes.url}
                  alt={block.attributes.alt}
                  transition:fade
                />
              </Lazy>
            {/if}
          {/each}
        {:else}
          <p>L'Hôte n'a pas encore ajouté de contenu !</p>
        {/if}
      </div>
    </Card>
  </article>
{/if}

<style>
  article {
    height: 90%;
    width: 100%;
    margin: auto;
  }
  @media screen and (max-width: 800px) {
    article {
      width: 95%;
    }
  }
  header {
    margin: auto;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header h5 {
    text-align: center;
  }
  #header-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .visit-content {
    height: 80%;
    overflow-y: auto;
  }
  :global(.visit-content > h3) {
    padding-bottom: 1rem;
  }
  img {
    max-width: 100%;
  }
  @media (max-width: 800px) {
    header h4 {
      width: 100%;
    }
    article {
      width: 95%;
    }
  }
</style>
