/*
Custom fonts imports
*/
@font-face {
  font-family: Urbanist;
  src: local(sans-serif), url("/fonts/Urbanist-SemiBold.ttf");
  font-display: swap
}
@font-face {
  font-family: Cantarell;
  src: local(sans-serif), url("/fonts/Cantarell-Regular.ttf");
}
@font-face {
  font-family: "Pasteur";
  src: url("/fonts/Pasteur.otf");
}
.font-pasteur {
  font-family: "Pasteur";
  font-weight: bold;
}
/*
ScrollBar styling
*/
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/*
Title's styles
*/
h3,
h4 {
  font-family: Urbanist;
  color: #333;
  word-break: keep-all;
}
h3 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
h4 {
  font-size: 2rem;
  line-height: 5rem;
  margin-bottom: 1.2rem;
}
h5 {
  font-family: Urbanist;
  font-size: 1.2rem;
  font-weight: thin;
  margin-bottom: 1rem;
}
h6 {
  font-family: Pasteur;
  font-size: 18pt;
  text-transform: lowercase;
}
p {
  font-family: Cantarell;
}
/*
Link reset except fop p (and other block ?)
*/
a:not(p > a) {
  text-decoration: none;
  text-align: center;
}
/* unvisited link */
a:link,
a:visited,
a:hover,
a:active {
  color: #444;
}
/*
Media Queries for portrait phone
*/
@media screen and (max-width: 800px) {
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  h5 {
    font-size: 1.2rem;
  }
}
/*
Svelte Materialify Overwrite
*/
:root {
  --theme-surface: #fff;
  --theme-app-bar: #fff;
  --theme-chips: #fff;
}
.s-app-bar {
  background-color: #fff0;
}
.primary-color {
  background-color: #fff !important;
  border-color: rgb(110, 110, 110) !important;
}
.primary-text {
  color: #111 !important;
  font-family: Cantarell;
}
s-menu {
  width: fit-content;
}
