<script>
  import { Row, Col } from "svelte-materialify";
</script>

<div id="footer">
  <Col>
    <Row class="center">
      <h6>A Propos</h6>
    </Row>
    <Row class="center">
      <p>Manifeste</p>
    </Row>
    <Row class="center">
      <p>Manifeste</p>
    </Row>
    <Row class="center">
      <p>Manifeste</p>
    </Row>
  </Col>
  <Col>
    <Row class="center">
      <h6>Ils Parlent de Nous</h6>
    </Row>
    <Row class="center">
      <p>Presses et médias</p>
    </Row>
    <Row class="center">
      <p>Manifeste</p>
    </Row>
    <Row class="center">
      <p>Manifeste</p>
    </Row>
  </Col>
  <Col>
    <Row class="center">
      <h6>Cadre Légal</h6>
    </Row>
    <Row class="center">
      <p>Mentions Légales</p>
    </Row>
  </Col>
  <Col>
    <Row class="center">
      <h6>Réseaux Sociaux</h6>
    </Row>
    <Row class="center">
      <p>FaceBook</p>
    </Row>
    <Row class="center">
      <p>Twitter</p>
    </Row>
  </Col>
</div>

<style>
  #footer {
    height: 200px;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  :global(.center) {
      place-content: center;
  }
  @media screen and (max-width: 800px) {
    #footer {
      flex-direction: column;
    }
  }
</style>
