<script>
  import { mdiChevronDown } from "@mdi/js";

  import { fade, slide } from "svelte/transition";
  import { Card, CardTitle, CardText, Button, Icon } from "svelte-materialify";
  import Lazy from "svelte-materialify/src/components/Lazy";
  let active = false;
  let parser = new DOMParser();
  let doc;
  export let history, index;
  function toggle() {
    active = !active;
  }
  $: {
    doc = parser.parseFromString(history.data.text, "text/html");
  }
</script>

<Lazy>
  <Card tile>
    <article id="history-{index}">
      {#if history.featuredImage}
        <div class="image-wrapper">
          <img
            src={history.featuredImage.node.sourceUrl}
            alt={history.featuredImage.node.altText}
          />
        </div>
      {/if}
      <CardTitle>
        <h4>
          {history.title}
        </h4>
      </CardTitle>
      <CardText>
        {#if doc.body.innerText.length > 200}
          {#if !active}
            <div transition:slide>
              <p transition:fade={{ duration: 50 }}>
                {@html doc.body.children[0].innerHTML.slice(0, 200)}...
                <Button depressed size="small" block on:click={toggle}>
                  <Icon path={mdiChevronDown} rotate={active ? 180 : 0} />
                </Button>
              </p>
            </div>
          {:else}
            <div transition:slide>
              <!-- else content here -->
              <div transition:fade={{ duration: 50 }}>
                {#each doc.body.children as node}
                  {#if node.localName === "p"}
                    <p transition:fade={{ duration: 50 }}>
                      {@html node.innerHTML}
                    </p>
                  {:else if node.localName === "blockquote"}
                    <blockquote>
                      {@html node.innerHTML}
                    </blockquote>
                  {:else}
                    <!-- else content here -->
                  {/if}
                {/each}
              </div>
              <Button depressed block size="small" on:click={toggle}>
                {#if active}
                  <Icon path={mdiChevronDown} rotate={active ? 180 : 0} />
                {:else}
                  <Icon path={mdiChevronDown} rotate={active ? 180 : 0} />
                {/if}
              </Button>
            </div>
          {/if}
        {:else}
          <!-- else content here -->
          <div transition:fade={{ duration: 50 }}>
            {#each doc.body.children as node}
              {#if node.localName === "p"}
                {@html node.innerHTML}
              {:else if node.localName === "blockquote"}
                {@html node.innerHTML}
              {:else}
                <!-- else content here -->
              {/if}
            {/each}
          </div>
        {/if}
      </CardText>
    </article>
  </Card>
</Lazy>

<style>
  h4 {
    text-align: right;
    width: 100%;
  }
  .image-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  .image-wrapper > img {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
