<script>
  import { draw } from "svelte/transition";
  export let isIntroEnd = false;

</script>

<div style="width: 100%; height:100%; display:flex;">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 16.396629 2.7812376"
    version="1.1"
    style="margin: auto;"
  >
    <g
      aria-label="bienvenue"
      transform="translate(-26.657738,-84.930252)"
    >
      <path
        d="m 27.128574,87.555122 c -0.161608,0.0094 -0.112243,-0.176217 -0.0154,-0.23315 0.110033,-0.06206 0.004,-0.210215 -0.08543,-0.09706 -0.145988,0.119702 -0.244478,0.414589 -2.1e-4,0.47347 0.268525,0.04747 0.571969,-0.04139 0.79209,-0.14788 0.133798,-0.08773 0.335242,-0.225146 0.41936,-0.41152 0.04607,-0.108523 0.08746,-0.183874 0.13224,-0.26004 -0.03752,-0.161098 0.02304,-0.350612 -0.0466,-0.51237 -0.0612,-0.235554 -0.29287,-0.422062 -0.55906,-0.34941 -0.292139,0.04661 -0.557286,0.257405 -0.70657,0.52437 0.0513,-0.109187 0.02803,-0.267103 0.15548,-0.31453 -0.07945,-0.08317 0.02301,-0.234821 0.01564,-0.28723 0.06801,-0.191021 0.167376,-0.48723 0.28368,-0.6913 0.0092,-0.114346 0.290913,-0.238826 0.12029,-0.31822 -0.167976,0.129728 -0.237757,0.309293 -0.34544,0.48518 -0.09561,0.239381 -0.189484,0.48455 -0.26056,0.72971 -0.06501,0.108302 -0.04406,0.24066 -0.10488,0.36872 -0.03994,0.148031 -0.07998,0.320228 -0.13236,0.48918 -0.02294,0.184432 -0.144229,0.367284 -0.13228,0.55524 0.104873,0.10492 0.130544,-0.05729 0.16311,-0.11266 0.04528,-0.210538 0.153758,-0.419825 0.24884,-0.5977 0.08007,-0.399828 0.482092,-0.748917 0.8893,-0.70328 0.274023,0.101194 0.315903,0.501431 0.22572,0.73257 -0.01395,0.227405 -0.187228,0.414848 -0.3849,0.526136 -0.195308,0.112768 -0.488763,0.166659 -0.67564,0.15182 0.01175,0.01296 0.0084,3.81e-4 0.0036,-4.6e-5 z m 0.364772,-2.468036 c -0.0062,0.0025 -0.0062,0.0025 0,0 z m 0.842082,1.350435 c -0.01255,-0.0018 0.0089,-0.01699 0,0 z m -0.01164,0.512234 c 0.0098,-0.01719 0.01179,0.01063 0,0 z m -0.217311,0.162983 -0.0039,0.0039 z m -0.0078,0.01164 c 0.0037,0.0058 -0.01344,0.01471 0,0 z m 0.06209,0.131939 -0.0039,0.0039 z m -1.098199,0.112536 c 0.01475,-0.0039 -0.01746,0.02 0,0 z m 0.07373,0.190148 c 0.0062,0.0025 0.0062,0.0025 0,0 z m 0.01164,0.0039 c -0.01006,-0.0017 -0.01536,-0.0089 0,0 z m 0.465668,0.06985 c -0.0058,-0.0037 -0.01471,0.01344 0,0 z m -0.263878,0.06209 c 0.0041,-0.01293 0.0072,0.0054 0,0 z m -0.194028,0.01552 c 0.0041,-0.01294 0.0072,0.0054 0,0 z"
        transition:draw={{duration:500, delay:0}}
      />
      <path
        d="m 29.460789,85.238428 c -0.0574,-0.192245 -0.180996,0.04165 -0.19797,0.15527 -0.0543,0.145992 -0.01184,0.196459 0.10856,0.17471 0.03999,-0.112889 0.04498,-0.225228 0.08941,-0.32998 z m -0.240595,0.791634 c -0.100346,-0.189235 -0.197131,0.127192 -0.21351,0.24451 0.0021,0.104155 -0.01346,0.195798 -0.05836,0.31449 -0.08427,0.286477 -0.164308,0.556014 -0.26446,0.83872 0.09098,0.245665 0.185879,-0.08045 0.22139,-0.19019 0.02182,-0.139756 0.177109,-0.298984 0.167,-0.40758 0.02445,-0.07769 -0.025,-0.07778 0.0078,-0.18254 0.02598,-0.112566 0.06699,-0.215746 0.06236,-0.30671 0.02605,-0.106631 0.0475,-0.207929 0.07774,-0.3107 z"
        transition:draw={{duration:500, delay:300}}
      />
      <path
      transition:draw={{duration:500, delay:600}}
        d="m 31.397181,86.072748 c -0.05224,-0.217998 -0.345664,-0.182748 -0.52033,-0.15516 -0.396142,0.06172 -0.769746,0.298397 -0.91272,0.69552 -0.02525,0.07734 -0.194534,-0.05383 -0.2485,-0.10498 -0.19945,-0.06083 -0.04442,0.28978 0.12042,0.25239 0.158349,0.02126 0.02492,0.214819 0.07766,0.32225 0.01702,0.250748 0.187123,0.527027 0.45823,0.52026 0.469133,-0.0031 0.91793,-0.426696 0.945557,-0.90329 -0.117725,-0.09825 -0.125718,0.131375 -0.161287,0.20816 -0.140717,0.332148 -0.509932,0.622901 -0.86969,0.54388 -0.236959,-0.09467 -0.265692,-0.432623 -0.23338,-0.63691 0.481798,0.0516 0.960356,-0.168564 1.26924,-0.52444 0.0376,-0.0682 0.06898,-0.140713 0.0748,-0.21768 z m -1.195212,0.613129 c -0.162139,0.02685 -0.104,-0.111412 -0.03875,-0.18259 0.17981,-0.338235 0.619638,-0.454885 0.96331,-0.45524 0.114927,-0.003 0.164226,0.110758 0.07364,0.19425 -0.262515,0.272789 -0.655997,0.403236 -0.9982,0.44358 z"
      />
      <path
        transition:draw={{duration:500, delay:900}}
        d="m 33.391784,86.456924 c -0.08674,-0.09526 -0.06762,-0.250126 -0.19057,-0.36502 -0.119387,-0.163228 -0.336376,-0.182907 -0.51658,-0.12431 -0.234136,0.05175 -0.435931,0.232366 -0.57451,0.40782 -0.01693,-0.183344 -0.167716,-0.400676 -0.36526,-0.42335 -0.11104,0.168064 0.226377,0.183283 0.21752,0.3727 0.101562,0.278767 -0.0691,0.558501 -0.12842,0.81922 -0.0096,0.143664 -0.192429,0.323066 -0.06613,0.43858 0.13572,0.0063 0.100725,-0.179646 0.16711,-0.26411 0.03809,-0.159757 0.180001,-0.32818 0.1865,-0.45424 0.04037,-0.09065 -0.01853,-0.247787 0.05056,-0.35326 0.16445,-0.275583 0.531838,-0.523172 0.84615,-0.40772 0.251626,0.170306 0.220655,0.500639 0.11239,0.74135 -0.06147,0.228506 -0.143236,0.44077 -0.20998,0.67153 0.105118,0.18651 0.168554,-0.06423 0.20591,-0.15935 0.04117,-0.159328 0.142554,-0.319825 0.20208,-0.45411 0.05399,-0.06554 0.01057,-0.20298 0.03102,-0.32227 -0.01131,-0.04735 0.03321,-0.07988 0.03221,-0.12346 z"
      />
      <path
        transition:draw={{duration:500, delay:1200}}
        d="m 34.13297,87.485272 c 0.260372,0.169606 0.55723,0.0036 0.72201,-0.23656 0.07056,-0.121077 0.115482,-0.243273 0.18648,-0.34941 -0.05831,-0.130655 0.02243,-0.352319 -0.05833,-0.51229 -0.04516,-0.133261 -0.148953,-0.258129 0.06195,-0.14359 0.267611,0.07819 0.572473,0.109338 0.79961,-0.07736 0.04566,-0.211715 -0.131556,-0.07652 -0.22907,-0.04251 -0.166856,0.04217 -0.365524,0.04761 -0.50492,-0.01936 -0.210517,-0.04738 -0.412544,-0.19695 -0.60548,-0.3457 -0.195178,-0.117344 -0.08662,0.181683 0.04274,0.2213 0.239064,0.205022 0.407027,0.527119 0.338,0.84251 -0.105445,0.03081 -0.01022,0.240947 -0.14739,0.34922 -0.11563,0.200795 -0.409439,0.353538 -0.59006,0.15524 -0.297037,-0.233363 -0.390879,-0.66683 -0.27186,-1.0168 -0.08834,-0.18322 -0.178485,0.152464 -0.16711,0.25238 -0.03094,0.35203 0.144261,0.739654 0.42343,0.92293 z"
      />
      <path
        transition:draw={{duration:500, delay:1800}}
        d="m 37.478009,86.072748 c -0.05217,-0.217868 -0.345453,-0.182832 -0.520019,-0.15516 -0.396147,0.06172 -0.769754,0.298395 -0.91273,0.69552 -0.02525,0.07734 -0.194527,-0.05384 -0.24849,-0.10498 -0.19945,-0.06083 -0.04442,0.28978 0.12042,0.25239 0.158349,0.02126 0.02492,0.214819 0.07766,0.32225 0.01702,0.250748 0.187123,0.527027 0.45823,0.52026 0.469133,-0.0031 0.917942,-0.426691 0.945568,-0.90329 -0.117726,-0.09825 -0.125719,0.131375 -0.161288,0.20816 -0.140715,0.332145 -0.509928,0.622898 -0.86968,0.54388 -0.236959,-0.09467 -0.265692,-0.432623 -0.23338,-0.63691 0.481804,0.0516 0.960368,-0.168565 1.26926,-0.52444 0.03736,-0.06826 0.06932,-0.140156 0.07445,-0.21768 z m -1.195213,0.613129 c -0.162139,0.02685 -0.104,-0.111412 -0.03875,-0.18259 0.179809,-0.338231 0.619631,-0.454886 0.9633,-0.45524 0.114927,-0.003 0.164226,0.110758 0.07364,0.19425 -0.262512,0.272782 -0.655996,0.403232 -0.99819,0.44358 z"
      />
      <path
        transition:draw={{duration:500, delay:2100}}
        d="m 39.472612,86.456924 c -0.08673,-0.09526 -0.06762,-0.250126 -0.19057,-0.36502 -0.119385,-0.163239 -0.336379,-0.182902 -0.51659,-0.12431 -0.234136,0.05175 -0.435937,0.232367 -0.57452,0.40782 -0.01693,-0.183344 -0.167716,-0.400676 -0.36526,-0.42335 -0.111064,0.168059 0.226371,0.183283 0.21751,0.3727 0.101562,0.278767 -0.0691,0.558501 -0.12842,0.81922 -0.0096,0.143664 -0.192429,0.323066 -0.06613,0.43858 0.13572,0.0063 0.100725,-0.179646 0.16711,-0.26411 0.03809,-0.15976 0.180017,-0.328176 0.18651,-0.45424 0.04037,-0.09065 -0.01853,-0.247787 0.05056,-0.35326 0.16445,-0.275583 0.531838,-0.523172 0.84615,-0.40772 0.251626,0.170306 0.220655,0.500639 0.11239,0.74135 -0.06147,0.228506 -0.143236,0.44077 -0.20998,0.67153 0.105122,0.186511 0.168566,-0.06423 0.20592,-0.15935 0.04117,-0.159328 0.142554,-0.319825 0.20208,-0.45411 0.05399,-0.06554 0.01057,-0.20298 0.03102,-0.32227 -0.01131,-0.04735 0.03321,-0.07989 0.03222,-0.12346 z"
      />
      <path
        transition:draw={{duration:500, delay:2400}}
        d="m 40.477676,87.593928 c 0.114198,0.0068 0.169901,-0.03981 0.26402,-0.10502 0.327591,-0.262325 0.466966,-0.759575 0.31052,-1.16091 -0.203104,-0.101254 -0.0303,0.222653 -0.0541,0.32993 0.0066,0.323368 -0.187688,0.700286 -0.48946,0.79964 -0.263289,0.03755 -0.469511,-0.246663 -0.52409,-0.46189 0.06334,-0.135166 -0.100876,-0.104526 -0.06605,-0.27565 -0.0059,-0.212783 0.128001,-0.502821 0.32254,-0.66381 0.197219,-0.148664 -0.108575,-0.211815 -0.15914,-0.03872 -0.218693,0.231367 -0.346998,0.583495 -0.26058,0.89291 -0.06446,0.09313 0.09106,0.227452 0.12832,0.34557 0.115447,0.188552 0.2672,0.314774 0.48554,0.34958 l 0.04269,-0.01164 z"
      />
      <path
        transition:draw={{duration:500, delay:2700}}
        on:introend="{() => isIntroEnd = true}"
        d="m 43.054368,86.072748 c -0.05224,-0.218 -0.345654,-0.182748 -0.52032,-0.15516 -0.396147,0.06172 -0.769755,0.298394 -0.91273,0.69552 -0.02525,0.07734 -0.194527,-0.05384 -0.24849,-0.10498 -0.19945,-0.06083 -0.04442,0.28978 0.12042,0.25239 0.158349,0.02126 0.02492,0.214819 0.07766,0.32225 0.01702,0.250748 0.187123,0.527027 0.45823,0.52026 0.469137,-0.0031 0.917952,-0.426687 0.945578,-0.90329 -0.117731,-0.09826 -0.125732,0.131369 -0.161298,0.20816 -0.140713,0.332136 -0.509915,0.622894 -0.86966,0.54388 -0.236959,-0.09467 -0.265692,-0.432623 -0.23338,-0.63691 0.481809,0.0516 0.960367,-0.168573 1.26927,-0.52444 0.03755,-0.06821 0.06906,-0.140581 0.07472,-0.21768 z m -1.195213,0.613129 c -0.162139,0.02685 -0.104,-0.111412 -0.03875,-0.18259 0.17981,-0.338235 0.619638,-0.454885 0.96331,-0.45524 0.114927,-0.003 0.164226,0.110758 0.07364,0.19425 -0.262514,0.272786 -0.656002,0.403231 -0.9982,0.44358 z"
      />
    </g>
  </svg>
</div>

<style>
  svg {
    width: 400px;
  }
  path {
    fill: none;
    stroke: #000;
    stroke-width: 0.05px;
  }
</style>
