<div style="width: 100%; height:100%; display:flex;">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1098.4531 744.9126"
        version="1.1"
        style="width: 50px; margin: auto;"
    >
        <path d="M 6.83843,10.03963 V 740.11368" />
        <path d="M 1092.2915,11.37818 H 6.8592871" />
        <path d="M 1087.8377,726.16181 V 13.081036" />
        <path d="M 820.69674,736.85018 V 11.965727" />
        <path d="M 1082.3697,736.7617 H 8.3567729" />
        <path d="M 275.15875,15.8056 V 740.041" />
        <path d="M 550.57587,736.60536 V 10.155035" />
        <path d="M 0.21765,367.88293 H 1092.3308" />
        <path d="M 959.62006,364.87346 V 9.4931578" />
        <path d="M 6.04468,189.85537 H 276.22939" />
        <path d="M 141.52733,734.15574 V 368.34106" />
        <path d="M 5.0745299,551.80139 H 275.53877" />
        <path d="M 817.99617,184.73109 H 1087.8913" />
    </svg>
</div>

<style>
    path {
        stroke: #000;
        stroke-width: 10px;
        stroke-dasharray: 1000;
        animation: dash 1s linear forwards;
        stroke-linecap: round;
    }
    @keyframes dash {
        0%{
            stroke-dashoffset: 1000;
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            stroke-dashoffset: 0;
        }
    }
</style>
