<script>
  import { fade } from "svelte/transition";
  import {
    timelineStore,
    dayInMonth,
    numberOfDayInMonth,
  } from "./timelineStore";

  export let timelineWidth;

  let value;
  $: {
    value = $dayInMonth;
  }
  function updateDate() {
    timelineStore.setDate(value);
  }
</script>

<input
  transition:fade={{ delay: 300, duration: 300 }}
  id="cursor"
  type="range"
  min="1"
  max={$numberOfDayInMonth}
  bind:value
  on:input={updateDate}
  style="width: {timelineWidth -
    timelineWidth / $numberOfDayInMonth +
    10}px;
    left: {timelineWidth / ($numberOfDayInMonth * 2) - 5}px;"
/>

<style>
  #cursor {
    position: absolute;
    height: 100%;
    user-select: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    border: none;
  }
  input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /* Special styling for WebKit/Blink */
  input[type="range"]::-webkit-slider-thumb {
    border: solid #fff 2px;
    height: 50px;
    width: 10px;
    border-radius: 10px;
    background: #fff0;
    cursor: pointer;
    pointer-events: all;
    position: relative;

    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  /* All the same stuff for Firefox */
  input[type="range"]::-moz-range-thumb {
    border: solid #000 3px;
    height: 50px;
    width: 10px;
    border-radius: 1px;
    background: #fff0;
    cursor: pointer;
    pointer-events: all;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  /* All the same stuff for IE */
  input[type="range"]::-ms-thumb {
    border: solid #fff 1px;
    height: 100px;
    width: 5px;
    border-radius: 3px;
    background: #fff0;
    cursor: pointer;
    pointer-events: all;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
</style>
