<script>
  import {
    parseISO,
    differenceInDays,
    isWithinInterval,
    format,
    isSameDay
  } from "date-fns";
  import { fade } from "svelte/transition";
  import { timelineStore, numberOfDayInMonth } from "./timelineStore";

  export let startDate, endDate, isDateEnd, color, events, timelineWidth;

  let startOffset;
  let endOffset;

  function getEventOffset(date) {
    console.log(format(parseISO(date), "d"));
    return format(parseISO(date), "d") - startOffset;
  }
  $: {
    let startDateISO = parseISO(startDate);
    let endDateISO = parseISO(endDate);
    //console.log("startOffset",startOffset);
    if (isWithinInterval(startDateISO, $timelineStore.interval)) {
      startOffset =
        differenceInDays(parseISO(startDate), $timelineStore.interval.start) + 1;
        console.log(startOffset );
    } else {
      startOffset = 1;
    }
    endOffset = $numberOfDayInMonth; // Else value
    if (isDateEnd == "true") {
      if (isWithinInterval(endDateISO, $timelineStore.interval)) {
        endOffset =
          differenceInDays(parseISO(endDate), $timelineStore.interval.start) + 1;
      }
      console.log(endOffset);
    }
  }
</script>

<div
  class="line-wrapper"
  style="grid-column:  {startOffset} / {endOffset};"
  transition:fade={{ duration: 150 }}
>
  <div
    class="line"
    style="background-color: {color};
        grid-template-columns: repeat({endOffset -
      startOffset}, {timelineWidth /
        $numberOfDayInMonth}px);"
  >
    {#if events}
      {#each events as event}
        {#if isWithinInterval(parseISO(event.data.date), $timelineStore.interval)}
          <div
            class="point"
            style="background-color: {color}; grid-column: {getEventOffset(event.data.date)+1};"
            class:point-active={isSameDay(parseISO(event.data.date), $timelineStore.date)}
          />
        {/if}
      {/each}
    {/if}
  </div>
</div>

<style>
  .line-wrapper {
    height: 6px;
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;
  }
  .line {
    width: 100%;
    height: 4px;
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 0px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  }
  .point {
    z-index: 1;
    height: 10px;
    width: 10px;
    border: solid #fff 1px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -5px;
    top: -2px;
    transition: transform ease 200ms;
  }
  .point-active {
    transform: scale(1.2);
  }
</style>
