<script>
  // External libraries imports
  import { format, areIntervalsOverlapping, parseISO, isToday } from "date-fns";
  import { fr } from "date-fns/locale";
  // Custom stores imports
  import { timelineStore, numberOfDayInMonth } from "./timelineStore";
  import { queryStore } from "../queryStore";
  // UI Imports
  import { Button, Icon, ProgressLinear } from "svelte-materialify";
  import { mdiChevronLeft, mdiChevronRight } from "@mdi/js";
  import DatePicker from "svelte-calendar";
  // Svelte's components imports
  import Cursor from "./Cursor.svelte";
  import Line from "./Line.svelte";
  // Transition imports
  import { fade } from "svelte/transition";

  let datePicked, userHasChosenDate;
  const daysOfWeek = [
    ["Dimanche", "Dim"],
    ["Lundi", "Lun"],
    ["Mardi", "Mar"],
    ["Mercredi", "Mer"],
    ["Jeudi", "Jeu"],
    ["Vendredi", "Ven"],
    ["Samedi", "Sam"],
  ];

  const monthsOfYear = [
    ["Janvier", "Jan"],
    ["Février", "Fév"],
    ["Mars", "Mars"],
    ["Avril", "Avr"],
    ["Mai", "Mai"],
    ["Juin", "Juin"],
    ["Juillet", "Juil"],
    ["Août", "Août"],
    ["Septembre", "Sep"],
    ["Octobre", "Oct"],
    ["Novembre", "Nov"],
    ["Décembre", "Déc"],
  ];
  let ticks = new Array($numberOfDayInMonth);
  let overlappingData = [];
  let timelineWidth;
  $: {
    overlappingData = $queryStore.data.filter((e) => {
      let interval = {
        start: parseISO(e.data.startDate),
        end: parseISO(e.data.isEndDate == "true" ? e.data.endDate : "29991231"),
      };
      return areIntervalsOverlapping(interval, $timelineStore.interval);
    });
    if (userHasChosenDate) {
      timelineStore.setDateAbs(datePicked);
      userHasChosenDate = false;
    }
    ticks = new Array($numberOfDayInMonth);
  }
</script>

<DatePicker
  bind:selected={datePicked}
  bind:dateChosen={userHasChosenDate}
  {daysOfWeek}
  {monthsOfYear}
  weekStart={1}
>
  <Button text rounded id="date" class="elevation-1" size="small">
    <span transition:fade>
      {isToday($timelineStore.date)
        ? "Aujourd'hui"
        : format($timelineStore.date, "d LLL. y", { locale: fr })}
    </span>
  </Button>
</DatePicker>

<div id="timeline-bar">
  <Button
    fab
    depressed
    size="small"
    on:click={() => timelineStore.decrementMonth()}
  >
    <Icon path={mdiChevronLeft} />
  </Button>
  <div id="timeline" bind:clientWidth={timelineWidth}>
    <Cursor {timelineWidth} />
    <div
      id="ticks"
      style="grid-template-columns: repeat({$numberOfDayInMonth}, {timelineWidth /
        $numberOfDayInMonth}px)"
      transition:fade
    >
      <!---
      {#each ticks as tick, i}
        {#if (i + 1) % 5 == 1}
          <div class="tick" />
        {:else}
          <div />
        {/if}
      {/each}
    -->
    </div>
    {#if $queryStore.isFetching}
      <!-- If it's fetching show loading -->
      <ProgressLinear indeterminate />
    {:else}
      <!-- If it's not, show timeline -->
      <div
        id="lines"
        style="grid-template-columns: repeat({$numberOfDayInMonth -
          1}, {timelineWidth /
          $numberOfDayInMonth}px);
            margin-left: {timelineWidth /
          (2 * $numberOfDayInMonth)}px;"
      >
        {#each overlappingData as node}
          <Line
            startDate={node.data.startDate}
            endDate={node.data.endDate}
            isDateEnd={node.data.isEndDate}
            color={node.data.color}
            events={node.data.events}
            {timelineWidth}
          />
        {/each}
      </div>
    {/if}
  </div>

  <Button
    fab
    depressed
    size="small"
    on:click={() => timelineStore.incrementMonth()}
  >
    <Icon path={mdiChevronRight} />
  </Button>
</div>

<style>
  :global(.datepicker) {
    height: 28%;
    background-color: var(--theme-app-bar);
  }
  #timeline-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    padding: 0 1% 0 1%;
    margin: 2% 0 2% 0;
  }
  #timeline {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 5px;
    position: relative;
  }
  #lines {
    position: relative;

    margin: auto 0 auto 0;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row dense;
    grid-row-gap: 1px;
  }
  #ticks {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-rows: 1fr;
    width: 100%;
    height: 5px;
    margin-bottom: 5px;
  }
  .tick {
    background-color: #000;
    width: 1px;
    height: 5px;
    margin: auto;
  }
</style>
