<script>
  import { initClient } from "@urql/svelte";

  import Router from "svelte-spa-router";
  import routes from "./routes";

  import Nav from "./components/nav/Nav.svelte";
  import Footer from "./components/Footer.svelte"
  initClient({
    url: API_URL,
  });
</script>

<main>
  <Nav />
  <Router {routes} />
</main>

<style>
  main {
    height: 100%;
    max-width: 1200px;
    margin: auto;
  }
  main:before {
    background-image: linear-gradient(#fff0 0%, #ffff 50%),
      url("/assets/background-image.webp");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
</style>
