<script>
  import { Card } from "svelte-materialify";
  // Svelte Components imports
  import DialogInnerEvent from "./DialogInnerEvent.svelte";
  import DialogInnerContent from "./DialogInnerContent.svelte";
  import { slide } from "svelte/transition";
  import { isSameMonth, parseISO } from "date-fns";
  import { timelineStore } from "../timeline/timelineStore";
import { onMount } from "svelte";
  export let visit;
  let events = [];
  let eventToggle = false;
  let eventIndex = 0;

  $: {
    if (visit.data.events) {
      events = visit.data.events.filter((event) => {
        return isSameMonth(parseISO(event.data.date), $timelineStore.date);
      });
    }
  }
</script>

<div class="dialog-wrapper">
  <Card tile>
    <div class="visit-header" style="background-color:{visit.data.color}">
      {#if visit.featuredImage}
        <img
          alt=""
          style="background-image: url({visit.featuredImage.node.sourceUrl})"
        />
      {/if}
    </div>
    {#if !eventToggle}
      <DialogInnerContent {visit} {events} bind:eventIndex bind:eventToggle />
    {:else}
      <div transition:slide>
        <!-- else content here -->
        {#if visit.data.events}
          <DialogInnerEvent event={events[eventIndex]} bind:eventToggle />
        {/if}
      </div>
    {/if}
  </Card>
</div>

<style>
  .dialog-wrapper {
    background-color: #fff;
  }
  .visit-header {
    width: 100%;
    height: 50px;
    color: #000;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }
  .visit-header:not(img) {
    z-index: 1;
  }
  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(1px) grayscale();
    mix-blend-mode: luminosity;
    opacity: 0.4;
  }
</style>
