<script>
  import { format, parseISO, isSameMonth } from "date-fns";
  import { fr } from "date-fns/locale";
  import { timelineStore } from "../timeline/timelineStore";
  import {
    Icon,
    CardTitle,
    CardSubtitle,
    CardText,
    CardActions,
    Button,
    Chip,
    Subheader,
    List,
    ListItem,
  } from "svelte-materialify";
  // Svelte Components imports
  import Etoile from "../Etoile.svelte";
  import { mdiPlus, mdiEyeOutline } from "@mdi/js";
  export let visit, events, eventIndex, eventToggle;

  function toggleEvent(i) {
    eventToggle = !eventToggle;
    eventIndex = i;
  }
</script>

<CardTitle style="justify-content: center;">
  <Icon>
    <Etoile />
  </Icon>
  <h5>
    {visit.title}
  </h5>
  <Icon>
    <Etoile />
  </Icon>
</CardTitle>
<CardSubtitle>
  <p class="date">
    {#if visit.data.isEndDate == "true"}
      {format(parseISO(visit.data.startDate), "d LLL. y")}
      au
      {format(parseISO(visit.data.endDate), "d LLL. y")}
    {:else}
      Depuis le
      {format(parseISO(visit.data.startDate), "d LLL. y")}
    {/if}
  </p>
</CardSubtitle>
<CardText style="text-align: center">
  {#if visit.data.place}
    <h6>
      {visit.data.place.name}
    </h6>
  {/if}
  {#if visit.data.activity.length != 0}
    {#each visit.data.activity as activity}
      <Chip outlined class="ma-2" size="x-small">{activity.name}</Chip>
    {/each}
  {/if}
</CardText>
{#if events.length != 0}
  <List>
    <Subheader>Rendez-vous ce mois-ci :</Subheader>
    {#each events as event, i}
      <!-- content here -->
      <ListItem dense>
        {event.title}
        <span slot="append">
          <Button fab depressed size="x-small" on:click={() => toggleEvent(i)}>
            <Icon path={mdiEyeOutline} style="color:{visit.data.color}" />
          </Button>
        </span>
        <span slot="subtitle">
          {format(parseISO(event.data.date), "d LLL y à h:mm", {
            locale: fr,
          })}
        </span>
      </ListItem>
    {/each}
  </List>
{/if}
<CardText>
  <p>{visit.data.excerpt}</p>
</CardText>
<CardActions style="justify-content: center;">
  <Button fab depressed size="small">
    <a href="/#{visit.uri}">
      <Icon path={mdiPlus} />
    </a>
  </Button>
</CardActions>

<style>
  .date {
    text-align: center;
  }
  h5,
  p {
    margin-bottom: 0;
    position: relative;
  }
</style>
