<script>
  import DialogInner from './DialogInner.svelte';
  import { filteredData } from "../queryStore";
  import {
    Dialog,
    Tabs,
    Tab,
    TabContent
  } from "svelte-materialify";
  // Svelte Components imports
  export let placeId, active;
  let matchedData = [];

  $: {
    matchedData = $filteredData.filter((e) => {
      return e.data.place.slug == placeId;
    });
    console.log(matchedData);
  }
</script>

<Dialog bind:active>
  {#if matchedData.length == 1}
  <DialogInner visit={matchedData[0]}/>
  {:else}
  <Tabs centerActive>
    <div slot="tabs">
      {#each matchedData as visit, i}
        <Tab>{visit.title}</Tab>
      {/each}
    </div>
    {#each matchedData as visit}
      <TabContent>
        <!-- content here -->
        <DialogInner {visit}/>
      </TabContent>
    {/each}
  </Tabs>
  {/if}
  
</Dialog>