<script>
  import { format, parseISO, isSameMonth } from "date-fns";
  import { fr } from "date-fns/locale";
  import {
    Icon,
    CardTitle,
    CardText,
    CardActions,
    Button,
  } from "svelte-materialify";
  // Svelte Components imports
  import Etoile from "../Etoile.svelte";
  import { mdiEyeOffOutline } from "@mdi/js";
  export let event, eventToggle;

  function toggleEvent() {
    eventToggle = !eventToggle;
  }
</script>

<CardTitle style="justify-content: center;">
  <Icon>
    <Etoile />
  </Icon>
  <h5>
    {event.title}
  </h5>
  <Icon>
    <Etoile />
  </Icon>
</CardTitle>
<p style="text-align: center">
  Le {format(parseISO(event.data.date), "d LLL y à h:mm", { locale: fr })}
</p>
<CardText style="text-align: center">
  {#if event.data.jauge}
    Jauge : {event.data.jauge} personnes
  {/if}
</CardText>
<CardText style="text-align: center">
  {#if event.data.place}
    <h6>
      {event.data.place.name}
    </h6>
  {/if}
</CardText>
<CardText>
  {#if event.data.longDescription}
    {@html event.data.longDescription}
  {/if}
</CardText>
<CardActions style="justify-content: center;">
  <Button fab depressed size="x-small" on:click={toggleEvent}>
    <Icon path={mdiEyeOffOutline} />
  </Button>
</CardActions>

<style>
  h5,
  p {
    margin-bottom: 0;
    position: relative;
  }
</style>
