<script>
  import Space from "./Space.svelte";
  import { mapStore } from "./mapStore";
  export let selectable, index, children;
  let floor;
</script>

<svg
  xmlns="http://www.w3.org/2000/svg"
  style="
    transform: translate({$mapStore.floors[index].x}px, {$mapStore
    .floors[index].y}px);"
  viewBox="0 0 916.08 714.72"
  class="floor"
  class:selectable
  class:unselectable={$mapStore.map.isOpen && selectable != "selectable"}
  class:unfocused={!$mapStore.floors[index].focused && $mapStore.map.isOpen}
  class:selected={$mapStore.floors[index].focused && $mapStore.map.isOpen}
  id="floor-{index}"
  bind:this={floor}
>

  {#if children && children.length != 0}
    <g on:pointerdown={mapStore.moveTo(index, floor)}>
      {#each children as child, i}
        {#if child.tagName == "image"}
          {#if child.properties.class == "title" && $mapStore.map.isOpen}
            <image
              id={child.properties.id}
              class="title"
              width={child.properties.width}
              height={child.properties.height}
              transform={child.properties.transform}
              xlink:href={child.properties["xlink:href"]}
              class:hidden={!$mapStore.floors[index].focused}
            />
          {:else if child.properties.class != "title"}
            <image
              id={child.properties.id}
              width={child.properties.width}
              height={child.properties.height}
              transform={child.properties.transform}
              xlink:href={child.properties["xlink:href"]}
            />
          {/if}
        {:else if child.tagName == "path" && $mapStore.floors[index].focused}
          <Space {child} on:dialog />
        {/if}
      {/each}
    </g>
  {/if}
</svg>

<style>
  .floor {
    position: absolute;
    transition: transform 200ms ease, opacity 500ms linear;
    z-index: 1;
    pointer-events: none;
  }
  .floor g {
    pointer-events: auto;
  }
  .unfocused.selectable:hover {
    opacity: 0.7;
  }
  .selectable.unfocused {
    cursor: pointer;
  }
  .unselectable {
    opacity: 0.2;
  }
  g {
    transform-origin: center;
    transition: transform 200ms ease;
    pointer-events: all;
  }
  .title {
    transition: opacity 500ms ease;
  }
  .unfocused {
    opacity: 0.5;
  }
  .unfocused > g {
    transform: scale(0.9);
  }
  .hidden {
    opacity: 0;
  }
</style>
