<script>
  import { parse } from "svg-parser";
  import Svg from "./axo.svg";
  import { mapStore } from "./mapStore";
  import Floor from "./Floor.svelte";
  import Dialog from "./Dialog.svelte";
  import { Button, Icon } from "svelte-materialify";
  import { mdiChevronDown, mdiChevronUp } from "@mdi/js";

  let map;
  let mapWidth;
  let floors = parse(Svg).children[0].children.filter((e) => e.tagName == "g");
  let dialogActive = false,
    dialogPlaceId;
  // Map interactivity handlers (scroll, click, touch)
  let e;

  function handleScroll(e) {
    if ($mapStore.map.isOpen) {
      //console.log(e.deltaY);
      if (e.deltaY < 0) {
        mapStore.increment();
      }
      if (e.deltaY > 0) {
        let e = document.getElementById(
          "floor-" + ($mapStore.map.activeFloor + -1)
        );
        mapStore.decrement();
      }
    }
  }

  // TODO: It's a pretty crappy implementation of touch but it's work
  let startY;
  function touchStart(e) {
    startY = e.changedTouches[0].clientY;
  }
  function touchEnd(e) {
    let endY = e.changedTouches[0].clientY;
    if (Math.abs(endY - startY) > 50) {
      if (endY - startY < 0) {
        let e = document.getElementById(
          "floor-" + ($mapStore.map.activeFloor + -1)
        );
        mapStore.decrement(e);
      }
      if (endY - startY > 0) {
        let e = document.getElementById(
          "floor-" + ($mapStore.map.activeFloor + 1)
        );
        mapStore.increment(e, map);
      }
    }
    startY = 0;
  }
  function transitionend(e) {
    if (
      $mapStore.map.isOpen &&
      e.target.nodeName == "svg" &&
      e.propertyName == "transform"
    ) {
      setTimeout(() => {
        mapStore.moveTo($mapStore.map.activeFloor);
      }, 10);
    }
  }

  function handleDialog(event) {
    ////console.log(event);
    dialogPlaceId = event.detail.id;
    dialogActive = true;
    ////console.log(dialogActive);
  }

  function onScroll(e) {
    ////console.log(e);
    mapStore.scrollStart();
    ////console.log($mapStore.map.isScrolling);
    // Set a timeout to run after scrolling ends
    setTimeout(function () {
      // Run the callback
      mapStore.scrollEnd();
    }, 66);
  }
  $: {
    // Responsive listener for map width
    if (map != undefined) {
      mapStore.updateWidth(mapWidth);
      // //console.log($mapStore.map.isScrolling);
    }
  }
  function scrollToFloor() {
    if ($mapStore.map.isOpen) {
    }
  }
</script>

{#if !$mapStore.map.isNextFloorDisabled && $mapStore.map.isOpen}
  <!-- We show the button if we can increment -->
  <Button
    fab
    depressed
    size="x-small"
    style="position: absolute; top:5px; left: 50%; transform: translate(-50%, 0); z-index:4; background-color: #fff0"
    on:click={() => mapStore.increment()}
  >
    <Icon path={mdiChevronUp} />
  </Button>
{/if}
{#if !$mapStore.map.isPreviousFloorDisabled && $mapStore.map.isOpen}
  <!-- We show the button if we can decrement -->
  <Button
    fab
    depressed
    size="x-small"
    style="position: absolute; bottom:5px; left: 50%; transform: translate(-50%, 0); z-index:4; background-color: #fff0"
    on:click={() => mapStore.decrement()}
  >
    <Icon path={mdiChevronDown} />
  </Button>
{/if}
<div
  id="map"
  bind:this={map}
  bind:clientWidth={mapWidth}
  on:transitionend={transitionend}
  on:touchstart|passive={touchStart}
  on:touchend|passive={touchEnd}
  on:scroll={onScroll}
>
  {#each floors as floor, i}
    <Floor
      selectable={floor.properties.class}
      index={i}
      children={floor.children}
      on:dialog={handleDialog}
    />
  {/each}
</div>
<Dialog placeId={dialogPlaceId} bind:active={dialogActive} />

<style>
  #map {
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: 100%;
    overflow-y: hidden;
    position: relative;
    display: flex;
    align-items: center;
    transition: height 500ms ease;
    user-select: none;
    overscroll-behavior-y: contain;
    scroll-behavior: smooth;
    touch-action: none;
    mix-blend-mode: multiply;
  }
  @media screen and (min-width: 800px) {
    #map {
      width: 50%;
    }
  }
</style>
