<script>
  import { createEventDispatcher, onMount } from "svelte";
  import { filteredData } from "../queryStore";
  import { fade, draw } from "svelte/transition";
  import { isSameDay, parseISO } from "date-fns";
  import { timelineStore } from "../timeline/timelineStore";
  export let child;

  const dispatch = createEventDispatcher();
  let visitMatched = [],
    eventMatched = [];
  let path, boundingBox;
  function open() {
    dispatch("dialog", {
      id: child.properties.id,
    });
  }
  onMount(() => {
    path = document.getElementById(child.properties.id);
    if (path) {
      boundingBox = path.getBBox();
    }
  });
  $: {
    // We filter the data by places that match the path id
    visitMatched = $filteredData.filter(
      (visit) => visit.data.place.slug === child.properties.id
    );
    eventMatched = getEventsOfDay($filteredData, $timelineStore.date);
    //console.log(eventMatched);
  }
  function getEventsOfDay(data, date) {
    return data
      .filter((visit) => {
        if (visit.data.events) {
          return visit.data.events.length > 0;
        } else {
          return false;
        }
      })
      .flatMap((visit) => {
        let events = visit.data.events.filter((event) => {
          return (
            event.data.place.slug === child.properties.id &&
            isSameDay(parseISO(event.data.date), date)
          );
        });
        events = events.map((event) => {
          event.color = visit.data.color;
          return event;
        });
        return events;
      });
  }
</script>

{#if visitMatched.length != 0}
  <path
    id={child.properties.id}
    d={child.properties.d}
    class="space"
    transform={child.properties.transform}
    style="fill: {visitMatched[0].data.color}; opacity:1"
    on:click={open}
    transition:fade={{ duration: 200 }}
  />
{/if}
{#if path && eventMatched.length > 0}
  <!-- content here -->
  {#each eventMatched as event}
    <!-- content here -->
    <path
      in:draw={{ delay: 300, duration: 300 }}
      out:draw={{ delay: 350, duration: 300 }}
      d="M
        {boundingBox.x +
        boundingBox.width / 2}
        {boundingBox.y +
        boundingBox.height / 2} L {boundingBox.x +
        boundingBox.width / 2} {boundingBox.y + boundingBox.height / 2 - 40}"
      stroke="#fff"
      stroke-width="2px"
      transform={child.properties.transform}
    />
    <circle
      in:fade={{ delay: 600, duration: 300 }}
      out:fade={{ delay: 300, duration: 300 }}
      cx={boundingBox.x + boundingBox.width / 2}
      cy={boundingBox.y + boundingBox.height / 2 - 40}
      r="10"
      style="fill:{event.color}; stroke: #fff; stroke-width: 2px"
      transform={child.properties.transform}
    />
  {/each}
{/if}

<style>
  .space {
    cursor: pointer;
  }
</style>
