<script>
  import { mdiChevronDown } from "@mdi/js";
  import { Icon, Button, ListItemGroup, ListItem } from "svelte-materialify";
  import { slide } from "svelte/transition";

  export let name,
    subMenu,
    display = false;
  let active = false;
  function toggle() {
    active = !active;
  }
</script>

<Button block text tile on:click={toggle}>
  <h4>{name}</h4>
  <Icon path={mdiChevronDown} rotate={active ? 180 : 0} />
</Button>
{#if active}
  <div class="sub-menu" transition:slide={{ duration: 50 }}>
    <ListItemGroup>
      {#each subMenu.nodes as subMenu}
        <!-- dynamic CPT content pages ('#/routeName')  -->
        {#if subMenu.url.charAt(0) == "#" && subMenu.url.length > 1}
          <a class="sub-menu-item" href="/{subMenu.url}">
            <Button block text tile on:click={() => (display = false)}>
              <ListItem>
                <h5>{subMenu.label}</h5>
              </ListItem>
            </Button>
          </a>
        {:else}
          <!-- Gutenberg block Pages (absolute https url) -->
          <a class="sub-menu-item" href={subMenu.url}>
            <Button block text tile on:click={() => (display = false)}>
              <ListItem>
                <h5>{subMenu.label}</h5>
              </ListItem>
            </Button>
          </a>
        {/if}
      {:else}
        <!-- empty list -->
      {/each}
    </ListItemGroup>
  </div>
{/if}

<style>
  .sub-menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
  }
  a {
    text-decoration: none;
    text-align: center;
  }
  h4 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h5 {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0.5rem auto;
  }
</style>
