<script>
  import { operationStore, query } from "@urql/svelte";
  import { ListItem, Button, Menu } from "svelte-materialify";
  import { fade } from "svelte/transition";

  let graphQLQuery = `query MENU_ITEMS {
                        menuItems(where: {location: MENU_1}, first: 100) {
                          nodes {
                            childItems {
                              nodes {
                                url
                                order
                                label
                                path
                              }
                            }
                            url
                            label
                            path
                            parentId
                          }
                        }
                      }`;
  let menuQuery = operationStore(graphQLQuery);
  query(menuQuery);
  $: {
    //console.log($menuQuery);
  }
</script>

{#if $menuQuery.fetching}
  <!-- content here -->
{:else if $menuQuery.error}
  <!-- else if content here -->
{:else if $menuQuery.data != undefined}
  {#if $menuQuery.data.menuItems.nodes.length != 0}
    {#each $menuQuery.data.menuItems.nodes as menuItem}
      <!-- else if content here -->
      {#if menuItem.parentId == null}
        <!-- Three types of menu : menu w/ submenu ('#'), dynamic CPT content pages ('#/routeName') and Gutenberg block Pages (local path)-->
        <!-- Because we get the queries for menu and submenu we have to test if the menu have a parent -->
        {#if menuItem.url.charAt(0) == "#" && menuItem.url.length == 1}
          <!-- Menu w/ submenus and dynamic CPT content pages start with a "#"  -->
          <Menu hover>
            <div class="menu-item" slot="activator" transition:fade>
              <Button text tile depressed>
                <h4>{menuItem.label}</h4>
              </Button>
            </div>

            {#each menuItem.childItems.nodes as subMenu}
            <!-- dynamic CPT content pages ('#/routeName')  -->
              {#if subMenu.url.charAt(0) == "#" && menuItem.url.length > 1}
                <a class="sub-menu-item" href="./{subMenu.url}" transition:fade>
                  <Button text tile depressed>
                    <h5>{subMenu.label}</h5>
                  </Button>
                </a>
              <!-- Gutenberg block Pages (absolute https url) -->
              {:else}
                <a class="sub-menu-item" href={subMenu.url} transition:fade>
                  <Button text tile depressed>
                    <h5>{subMenu.label}</h5>
                  </Button>
                </a>
              {/if}
            {:else}
              <!-- else content here -->
            {/each}
          </Menu>
        {:else if menuItem.url.charAt(0) == "#" && menuItem.url.length > 1}
          <!-- dynamic CPT content pages ('#/routeName')  -->
          <a class="menu-item" href="./{menuItem.url}" transition:fade>
            <Button text tile depressed>
              <h4>{menuItem.label}</h4>
            </Button>
          </a>
        {:else}
          <!-- Gutenberg block Pages (absolute https url) -->
          <a class="menu-item" href={menuItem.url} transition:fade>
            <Button text tile depressed>
              <h4>{menuItem.label}</h4>
            </Button>
          </a>
        {/if}
      {/if}
    {/each}
  {:else}{/if}{/if}

<style>
  .menu-item {
    height: 100%;
  }
  h4 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h5 {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    text-align: center;
  }
</style>
