<script>
  import { mdiClose } from "@mdi/js";
  import { operationStore, query } from "@urql/svelte";
  import { Button, Icon, Dialog } from "svelte-materialify";
  import DropDownMenu from "./DropDownMenu.svelte";
  import { fade } from "svelte/transition";
  let graphQLQuery = `query MENU_ITEMS {
                        menuItems(where: {location: MENU_1}, first: 100) {
                          nodes {
                            childItems {
                              nodes {
                                url
                                order
                                label
                                path
                              }
                            }
                            url
                            label
                            path
                            parentId
                          }
                        }
                      }`;
  let menuQuery = operationStore(graphQLQuery);
  query(menuQuery);

  export let display = false;
  $: {
    //console.log($menuQuery);
  }
</script>

{#if display}
  <Dialog fullscreen bind:active={display} transition={fade}>
    <div style="height:100%; background-color:#fff; padding-top:10%;">
      {#if $menuQuery.fetching}
        <!-- content here -->
      {:else if $menuQuery.error}
        <!-- else if content here -->
      {:else if $menuQuery.data.menuItems.nodes.length != 0}
        {#each $menuQuery.data.menuItems.nodes as menuItem}
          <!-- Because we get the queries for menu and submenu we have to test if the menu have a parent -->
          {#if menuItem.parentId == null}
            <!-- Three types of menu : menu w/ submenu ('#'), dynamic CPT content pages ('#/routeName') and Gutenberg block Pages (uri)-->
            <!-- Menu w/ submenus and dynamic CPT content pages start with a "#"  -->
            {#if menuItem.url.charAt(0) == "#" && menuItem.url.length == 1}
              <DropDownMenu
                name={menuItem.label}
                subMenu={menuItem.childItems}
                {display}
              />
            {:else if menuItem.url.charAt(0) == "#" && menuItem.url.length > 1}
              <!-- dynamic CPT content pages ('#/routeName')  -->
              <a class="menu-item" href="./{menuItem.url}" transition:fade>
                <Button block text tile depressed>
                  <h4>{menuItem.label}</h4>
                </Button>
              </a>
            {:else}
              <!-- Gutenberg block Pages (absolute https url) -->
              <a class="menu-item" href={menuItem.url} transition:fade>
                <Button block text tile depressed>
                  <h4>{menuItem.label}</h4>
                </Button>
              </a>
            {/if}
          {/if}
        {/each}
      {/if}
      <Button
        depressed
        block
        tile
        on:click={() => (display = false)}
        style="position: absolute; bottom: 10%; "
      >
        <Icon path={mdiClose} />
      </Button>
    </div>
  </Dialog>
{/if}

<style>
  h4 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    text-align: center;
  }
</style>
