<script>
  import { mdiMenu } from "@mdi/js";
  import MainMenu from "./MainMenu.svelte";
  import InlineMenu from "./InlineMenu.svelte";
  import { AppBar, Button, Icon } from "svelte-materialify";
  import { stateStore } from "../stateStore";
  let display = false;
  let width, scollPos;
  $: {
    //console.log($stateStore.state);
  }
</script>

<svelte:window bind:innerWidth={width} bind:scrollY={scollPos} />
<AppBar class="main-menu" flat height="8%">
  <a href="/?view=home" id="site-title">
    <Icon size={"x-large"}>
      <img
        src="/assets/logo.svg"
        alt="logo"
        style="width:{$stateStore.state == 0 ? '70' : 40}px"
      />
    </Icon>
  </a>
  <div style="flex-grow:1;" />
  {#if width < 800}
    <Button fab depressed on:click={() => (display = !display)} style="background-color: #fff0">
      <Icon path={mdiMenu} />
    </Button>
  {:else if width > 800}
    <InlineMenu />
  {/if}
</AppBar>
<MainMenu bind:display />

<style>
  #site-title img {
    margin: 2px;
    transition: width ease 0.1s;
  }
</style>
